langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.9
langchain-experimental==0.0.61
langchain-groq==0.1.5
langchain-openai==0.0.5
langchain-text-splitters==0.2.1
langcodes==3.4.0
langgraph==0.0.64
langsmith==0.1.81
